.container .row p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.jumbotron {
    padding-top: 3rem;
    background-color: #e2edff;

}
.jumbotron2 {
    background-color: #C2D9FF;

}
.spacer {
    padding-top: 3rem;
    

}
.spacer2 {
    padding-top: 1rem;  
}
.spacer3 {
    padding-top: 4rem;  
}

.mb-4 .row {
    background-color: #C2D9FF;
}